body {
  background-color: #0d0d0d;
}


/* name of owner or title css */

header {
  margin-top: 40px; 
}

.headerName {
  font-family: "Alata";
  font-size: xx-large;
  color: #F3F4E5;
  text-decoration: none;
}

.headerName a {
  text-decoration: none;
  color: #F3F4E5;
  transition: font-size 0.3s ease; 
}

.headerName a:hover {
  color: #737373;
  font-size: xxx-large;
  transition: color 0.3s ease;
  transition: font-size 0.3s ease; 
}


/* nav bar styles */

.navbar {
  font-family: "Alata";
  font-size: larger;
  color: #F3F4E5;
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.navbar li {
  display: inline-block; 
  margin-right: 20px; 
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #F3F4E5;
  transition: font-size 0.3s ease; 
}

.navbar a:hover {
  color: #737373;
  font-size: x-large;
  transition: color 0.3s ease;
  transition: font-size 0.3s ease; 
}


/* about css */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; 
}

.aboutTitle {
  font-family: "Alata";
  font-size: 32px; 
  color: #F3F4E5;
  margin-top: 20px;
  animation: fadeIn 0.1s ease-in-out;
}

.mainProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile {
  font-family: "Alata";
  color: #F3F4E5;
  text-align: justify;
  width: 90%; 
  max-width: 500px; 
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.selfPortrait {
  margin-top: 20px; 
}

.selfPortrait img {
  width: 100%; 
  max-width: 300px; 
  height: auto;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (min-width: 768px) {
  .mainProfile {
      flex-direction: row;
      align-items: flex-start;
  }

  .selfPortrait {
      margin-left: 20px; 
  }
}


/* footer css */

.breakline {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 75%;
}

.getintouch {
  font-family: "Alata";
  font-size: xx-large;
  color: #F3F4E5;
  margin-top: 50px;
  animation: fadeIn 0.1s ease-in-out;
}

.contactext {
  font-family: "Alata";
  font-size: 18px;
  color: #F3F4E5;
  margin-top: 40px;
  width: 90%;
  max-width: 550px;
  animation: fadeIn 0.5s ease-in-out;
}

.bi.bi-instagram {
  color: #F3F4E5;
  transition: color 0.3s ease;
  font-size: 42px;
  animation: fadeIn 0.5s ease-in-out;
  transition: font-size 0.3s ease; 
}

.bi.bi-instagram:hover {
  color: #737373;
  font-size: 48px;
  transition: font-size 0.3s ease; 
}

.whitespace {
  color: #0d0d0d;
}

.email {
  transition: color 0.3s ease;
  cursor: pointer;
}

.email:hover {
  color: #737373;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .getintouch,
  .contactext,
  .bi.bi-instagram {
    margin-top: 0; 
  }
}

